@page
@model WebApp.Pages.Empleado.EditModel
@{
}


<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue? "Actualizar": "Nuevo Empleado")
        </div>
        <div class="card-body">
            <form id="FormEdit">
                <input type="hidden" asp-for="Entity.IdEmpleado" v-model="Entity.IdEmpleado" />


                <div class="form-group mb-3">
                    <label for="Entity.IdTipoIdentificacion" class="form-label">Tipo Identificacion</label>

                    <select asp-for="Entity.IdTipoIdentificacion" class="form-select"
                            v-model="Entity.IdTipoIdentificacion" asp-items="@(new SelectList(Model.TipoIdentificacionLista,"IdTipoIdentificacion","Descripcion"))" required>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Identificacion" class="form-label">Identificacion</label>
                    <input type="text" class="form-control" asp-for="Entity.Identificacion" v-model="Entity.Identificacion" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" v-model="Entity.Nombre" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PrimerApellido" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.PrimerApellido" v-model="Entity.PrimerApellido" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.SegundoApellido" class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.SegundoApellido" v-model="Entity.SegundoApellido" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" asp-for="Entity.Edad" v-model="Entity.Edad" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaNacimiento" class="form-label">Fecha Nacimiento </label>
                    <input type="date" class="form-control" asp-for="Entity.FechaNacimiento" v-model="Entity.FechaNacimiento" required>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue? "Actualizar": "Agregar")
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</div>

@section Scripts
{ 

    <script defer src="~/App/Empleado/Edit.js"></script>


}